{%extends 'base.html'%}
{%load static%}
{%block content%}
    <!--about section start -->
    <div class="services_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="services_taital">WELCOME TO FINAnCIAL SERVICES</h1>
            <p class="services_text">At Floxix Internet Banking, we are committed to providing a seamless and secure online banking experience. Whether you're managing everyday transactions, planning for the future, or accessing advanced financial tools, our platform ensures you can easily and safely handle all your banking needs, anytime and anywhere. Experience the convenience of banking at your fingertips with Floxix.</p>
            <!-- <div class="moremore_bt"><a href="#">Read More </a></div> -->
          </div>
          <div class="col-md-4">
            <div><img src="{% static 'images/img-1.png' %}" class="image_1"></div>
          </div>
        </div>
      </div>
    </div>
    <!--about section end -->
    {%endblock content%}