{%extends 'base.html'%}
{%load static%}
{%block content%}
    <!-- contact section start -->
    <div class="contact_section layout_padding">
      <div class="container-fluid">
        <h1 class="what_taital">Contact Us</h1>
        <p class="amet_text">Get in touch with us to explore our banking solutions, receive expert financial advice, and find the services that best meet your needs.</p>
        <div class="contact_section2">
          <div class="row">
            <div class="col-md-6 padding_left_0">
              <div class="mail_section">
                <input type="" class="mail_text_1" placeholder="Name" name="Name">
                <input type="" class="mail_text_1" placeholder="Phone Number" name="Phone Number">
                <input type="" class="mail_text_1" placeholder="Email" name="Email">
                <textarea class="massage_text" placeholder="Message" rows="5" id="comment" name="Message"></textarea>
                <div class="send_bt"><a href="#">send</a></div>
              </div>
            </div>
            <div class="col-md-6 padding_0">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d193675.087762009!2d-74.12936972070311!3d40.670151562647426!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sng!4v1737101036804!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contact section end -->
    {%endblock content%}