{%extends 'base.html'%}
{%load static%}
{%block content%}
    <!--services section start -->
    <div class="what_we_do_section layout_padding">
      <div class="container">
        <h1 class="what_taital">WHAT WE DO</h1>
        <p class="what_text">At Floxix Internet Banking, we offer a wide range of financial services designed to meet your unique needs. From everyday banking transactions to personalized financial planning, we provide secure, easy-to-use tools that help you manage your money with confidence. Our goal is to make banking simpler, more efficient, and accessible, so you can focus on what matters most to you.</p>
        <div class="what_we_do_section_2">
          <div class="row">
              <div class="col-lg-3 col-sm-6">
                  <div class="box_main">
                      <div class="icon_1"><img src="{% static 'images/icon-1.png' %}"></div>
                      <h3 class="accounting_text">Account Management</h3>
                      <p class="lorem_text">Secure and efficient account management solutions.</p>
                      <div class="moremore_bt_1"><a href="#">Read More </a></div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="box_main active">
                      <div class="icon_1"><img src="{% static 'images/icon-2.png' %}"></div>
                      <h3 class="accounting_text">Financial Advisory</h3>
                      <p class="lorem_text">Expert advice to help you manage your finances.</p>
                      <div class="moremore_bt_1"><a href="#">Read More </a></div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="box_main">
                      <div class="icon_1"><img src="{% static 'images/icon-3.png' %}"></div>
                      <h3 class="accounting_text">Investments</h3>
                      <p class="lorem_text">Grow your wealth with our investment solutions.</p>
                      <div class="moremore_bt_1"><a href="#">Read More </a></div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="box_main">
                      <div class="icon_1"><img src="{% static 'images/icon-4.png' %}"></div>
                      <h3 class="accounting_text">Financial Planning</h3>
                      <p class="lorem_text">Plan for your future with our expert guidance.</p>
                      <div class="moremore_bt_1"><a href="#">Read More </a></div>
                  </div>
              </div>
          </div>
      </div>      
      </div>
    </div>
    <!--services section end -->
  {%endblock content%}