{%extends 'base.html'%}
{%load static%}
{%block content%}

    <!--team section start -->
    <div class="team_section layout_padding">
      <div class="container">
        <h1 class="what_taital">Our Banking Team and Experts</h1>
        <p class="what_text_1">Our experienced banking professionals are dedicated to providing expert financial advice and solutions, ensuring your success in managing wealth and investments.</p>
        <div class="team_section_2 layout_padding">
          <div class="row">
              <div class="col-sm-3">
                  <img src="{% static 'images/img-7.jpg' %}" class="image_7">
                  <p class="readable_text">Branch Manager</p>
                  <div class="social_icon">
                      <ul>
                          <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                          <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                          <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <img src="{% static 'images/img-8.jpg' %}" class="image_7">
                  <p class="readable_text">Financial Advisor</p>
                  <div class="social_icon">
                      <ul>
                          <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                          <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                          <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <img src="{% static 'images/img-9.jpg' %}" class="image_7">
                  <p class="readable_text">Loan Officer</p>
                  <div class="social_icon">
                      <ul>
                          <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                          <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                          <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <img src="{% static 'images/img-10.jpg' %}" class="image_7">
                  <p class="readable_text">Customer Service</p>
                  <div class="social_icon">
                      <ul>
                          <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                          <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                          <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      
      </div>
    </div>
    <!--team section end -->
    {%endblock content%}