{%extends 'main/profile.html'%} 
{%load static%} 
{% load humanize %}
{%block section%}
<div class="first_transfer_form_section">
  <form action="" style="width: 100%; margin-top: 30px; display: none">
    <label> Customer Service Department </label>
    <select
      class="form-border"
      style="background-color: rgb(2, 32, 62); color: white; width: 100%"
    >
      <option>Please select customer service department</option>
      <option>Account management</option>
      <option>Transaction support</option>
      <option>Loan assistance</option>
      <option>Credit card services</option>
      <option>Customer inquiries</option>
      <option>Complaint resolution</option>
    </select>
    <label style="font-size: 16px; font-weight: bold"
      >Type your complaints</label
    >
    <div class="form-border" style="width: 100%">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          width: 100%;
        "
      >
        <textarea
          class="amount-input"
          style="
            width: 100%;
            background-color: rgb(2, 32, 62);
            border: none;
            outline: none;
            color: white;
          "
          name=""
          id=""
          placeholder="Type your complaints"
        ></textarea>
      </div>
    </div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        margin-top: -15px;
        font-size: 12px;
      "
    ></div>
    <button
      type="submit"
      style="margin-bottom: 100px; width: 100%; margin-top: 20px"
      id="blueButton"
      class="btn btn-primary transfer-button"
    >
      Continue
    </button>
    <div
      class="modal fade"
      id="Processing"
      tabindex="-1"
      role="dialog"
      aria-labelledby="loadingModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <p>Processing your transfer...</p>
          </div>
        </div>
      </div>
    </div>
  </form>
  <form
    class="first_transfer_form"
    id="transferForm"
    action="{% url 'transaction_page' %}"
    method="post"
  >
    {% csrf_token %}
    <div>
      {% if form.errors %}
      <div class="alert alert-danger">
        <ul>
          {% for field, errors in form.errors.items %} {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %} {% endfor %}
        </ul>
      </div>
      {% endif %}
      <h3 style="text-align: center; margin-top: 20px">
        Transfer To a Floxix Account
      </h3>
      <!-- Account Selection -->
      <label for="" style="font-weight: bold">Select Account</label>
      <div class="form-border">
        <div style="display: flex; gap: 20px; align-items: center">
          <div>
            <i class="fa-solid fa-dollar-sign fa-lg" style="color: #ffd43b"></i>
          </div>
          <p style="margin: 0">
            Checking Account (USD) <br />
            <span style="font-size: 12px"
              >Available Balance: USD {{u_profile.amount|floatformat:0|intcomma }}</span
            >
          </p>
        </div>
        <div><i class="fa-solid fa-arrow-down fa-2xs"></i></div>
      </div>

      <!-- Account Number -->
      <label for="" style="font-weight: bold">Account Number</label><br />
      <div class="form-border">
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            width: 400px;
          "
        >
          <input
            class="form-border-input"
            type="text"
            name="account_number"
            placeholder="Recipient account number:"
            required
          />
          <p><i class="fa-solid fa-hashtag"></i></p>
        </div>
      </div>

      <!-- Amount to Transfer -->
      <div class="form-border-amount" style="margin-top: 60px">
        <label style="font-size: 16px; font-weight: bold"
          >Amount to Transfer</label
        >
        <div
          style="
            margin-bottom: -20px;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
          "
        >
          <p>Daily Transfer Limit</p>
          <p>USD0.00 OF USD5,000,000.00</p>
        </div>
        <div class="form-border">
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              width: 400px;
            "
          >
            <input
              class="form-border-input amount-input"
              name="amount"
              placeholder="2000"
              min="5"
              required
            />
            <p>USD</p>
          </div>
        </div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            margin-top: -15px;
            font-size: 12px;
          "
        >
          <p>Minimum: 5.00 USD</p>
          <p>1 USD = 1 USD</p>
        </div>

        <!-- Bank Name -->
        <div class="form-border">
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              width: 400px;
            "
          >
            <input
              class="form-border-input"
              type="text"
              name="bank_name"
              placeholder="Bank name:"
              required
            />
            <p><i class="fa-solid fa-file-signature"></i></p>
          </div>
        </div>

        <!-- Description -->
        <div class="form-border">
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              width: 400px;
            "
          >
            <input
              class="form-border-input"
              type="text"
              name="description"
              placeholder="Description (optional):"
            />
            <p><i class="fa-solid fa-comment-dots"></i></p>
          </div>
        </div>
      </div>

      <!-- Transaction PIN -->
      <div class="form-group" style="margin-top: -30px">
        <label for="transactionPin" style="font-weight: bold"
          >Transaction PIN</label
        >
        <div class="form-border">
          <input
            class="form-border-input"
            type="password"
            name="transaction_pin"
            id="transactionPin"
            maxlength="4"
            placeholder="Enter 4-digit PIN"
            required
            pattern="\d{4}"
            title="PIN must be 4 numeric digits."
          />
        </div>
        <small class="form-text text-muted"
          >Your PIN is required to complete the transfer.</small
        >
      </div>

      <!-- Submit Button -->
      <button
        style="margin-bottom: 90px"
        type="submit"
        id=""
        class="btn btn-primary transfer-button"
      >
        Continue to Next Step
      </button>
      <div
        style="
          position: relative;
          top: 0;
          display: flex;
          justify-content: center;
          margin-top: 30px;
        "
      >
        <p>@ 2025 Floxix - All Rights Reserved</p>
      </div>
    </div>
  </form>
</div>
{%endblock section%}
